@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+'.eot');
    src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
      url($font-file+'.woff') format('woff'),
      url($font-file+'.ttf') format('truetype'),
  }
}

@include font('DIN', './assets/fonts/DIN');
@include font('DIN', './assets/fonts/DIN Bold');

$bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);

body {
  position: relative;
  margin: 0;
  font-family: 'DIN', sans-serif;
  font-size: 18px;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

#main {
  height: 100%;
}

.cover {
  background-color: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .spacer {
    width: 100%;
  }

  .button-container {
    width: 11rem;
    height: 1.8rem;
    display: inline-block;
    text-align: center;

    button {
      color: black;
      background-color: yellow;
      padding: 1rem 1;
      width: 13rem;
      border-radius: 2rem;
      cursor: pointer;
      border: none;
      font-size: 1.25rem;
      transition: transform 0.3s $bezier, background-color 0.3s $bezier;
      transform: none;

      &:hover {
        transform: scale(1.15) perspective(1px);
        background-color: #a9ff00;
      }

      &.hidden {
        background-color: #ff8100;
        transform: rotate(0.4turn) skew(38deg, 11deg);
      }
    }
  }
}

h1 {
  font-family: 'DIN Bold', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  color: #FFF;
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}

.roar {
  font-family: 'DIN Bold', sans-serif;
  font-weight: 800;
}

.t { color: #9d9d9d; }

.chapter {
  padding: 6rem 0 1rem;
}

.chapterImage {
  width: 33rem;
  padding: 3.2rem 0;
  margin: auto;
  display: block;
  background-color: #FFF;
}

$width: 30px;
$transitionSpeed: 300ms;

.coverButton {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.chapterSong {
  float: right;
  margin: 0.5rem;
  text-indent: 0;
}

.playButton {
  padding: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 100ms;

  &:hover {
    transform: scale(1.15) perspective(1px);
  }

  .symbol {
    width: $width;
    height: $width;
    box-sizing: border-box;
    transition: all 100ms;

    border-top: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 0 solid transparent;
    transform: translateX(0px);
  }

  .symbol.paused {
    border-top: $width/2 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: $width/2 solid transparent;
    border-left: $width*0.85 solid #000;
    transform: translateX(6px);
  }

  .symbol.playing {
    border-top: 0 solid transparent;
    border-right: $width/3 solid #000;
    border-bottom: 0 solid transparent;
    border-left: $width/3 solid #000;
  }
}

.inner {
  display: block;
  width: 98%;
  margin: auto;
  background-color: #FFF;

  &.padTop {
    padding-top: .4rem;
  }

  p {
    display: block;
    line-height: 1.6;
    width: 33rem;
    margin: auto;
    text-indent: 2rem;
    color: #393939;
  }
}

.drip .inner p {
  text-indent: 0;
  padding: 1rem 0;

  .drip-body {
    color: #4d75b7;
    border: #79a8f6 solid 5px;
    padding: 1rem;
    border-radius: 1rem;
  }

  .u {
    color: #3b55d0;
  }

  .h {
    background-color: #ffeff2;
  }
}

.snippet-wrapper {

  .snippet-link {
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
    cursor: pointer;

    &:hover {
      background-size: 100% 88%;
    }
  }

  .snippet {
    text-indent: 0;
    display: block;
    position: absolute;
    width: 21rem;
    left: 50%;
    border-radius: 50px;
    background-color: white;
    padding: 2.5rem;
    border: 0.5rem solid;
    margin-left: -14rem;

    .snippet-header {
      position: absolute;
      top: -1rem;
      left: -1rem;
      background-color: white;
      font-family: 'DIN Bold', sans-serif;
      font-weight: 800;
      padding: .5rem;
      border-radius: 50%;
      border: solid .25rem;
    }
  }
}


#o {
  position: fixed;
  width: 1rem;
  left: 50%;
  margin-left: -0.5rem;
  top: 50%;
  margin-top: -0.5rem;
  z-index: -1;
  color: lightgray;
  font-weight: 800;
}

#finalo {
  padding-top: 7rem;
  width: 1rem;
  display: block;
  margin: auto;
  background-color: #FFF;
}

.s {
  padding: 1.6rem 0;
  margin: 0;

  li {
    list-style: none;
    margin-left: 2rem;
    text-indent: -2rem;

    // &:nth-of-type(1n) { background-color: #ffe7e7; }
    // &:nth-of-type(2n) { background-color: #fffee7; }
    // &:nth-of-type(3n) { background-color: #e7fff1; }
    // &:nth-of-type(4n) { background-color: #e7ffff; }
    // &:nth-of-type(5n) { background-color: #e7e9ff; }
    // &:nth-of-type(6n) { background-color: #fce7ff; }
  }
}

.screenButton {
  p { text-indent: 0; }

  button {
    display: block;
    background-color: transparent;
    border: solid 3px;
    width: 100%;
    font-weight: 800;
    font-size: 1.5rem;
    font-family: 'DIN Bold', sans-serif;
    margin: 2rem auto;
    padding: 1rem 0;
    cursor: pointer;
    color: #393939;
    border-color: #393939;
    transition: background-color .4s, border-color .4s, color .4s;

    &:hover {
      background-color: #000;
      border-color: #000;
      color: #FFF;
    }
  }
}

.screen {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 1s;
  background-color: #000;
  padding: 1rem 0 2rem;
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: auto;

  .paragraph {
    background-color: transparent;
  }

  .command p {
    font-weight: 800;
    text-indent: 0;
    color: #FFF;
  }

  .screenButton button {
    color: #FFF;
    border-color: #FFF;

    &:hover {
      color: #000;
      background-color: #FFF;
    }
  }
}

.type {
  display: inline;
}

$j29: #5e8d41;
$j56: #99005d;
$d39: #371989;
$n31: #daab00;
$n20: #ba6c1a;

.zoip {
  .inner p {
    text-indent: 0;
  }

  .msg {
    width: 70%;
    padding-left: 20%;
  }

  &.j29 .msg {
    padding-left: 10%;
  }

  .prefix {
    color: white !important;
    font-weight: bold;
    padding: .2rem;
    border-radius: 0.3rem;
    margin-right: .2rem;
  }
}

.prefix {
  animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toc-link {
  text-decoration: underline;
  cursor: pointer;
}

.toc {
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1rem 1rem 1rem 3rem;
  box-sizing: border-box;
  transform: translateX(0);
  transition: transform .3s;

  ol {
    font-size: 1.2rem;
  }

  li {
    padding: 0.4rem 0;
  }

  a {
    color: #393939;
    text-decoration: none;
  }

  &.hidden {
    transform: translateX(-100%);
  }
}

@media all and (max-width: 600px) and (min-width: 401px) {
  .inner p { width: 90%; }
  .snippet { width: 80%; }
  .chapterImage { width: 100%; }
  .zoip .msg, .zoip.j29 .msg {
    width: 100%;
    padding-left: 0;
  }
}

@media all and (max-width: 400px) {
  .inner p { width: 90%; font-size: 16px; }
  .snippet-wrapper .snippet {
    width: 70%;
    padding: 2rem;
    margin-left: 0;
    left: 3%;
  }
  .zoip .msg, .zoip.j29 .msg {
    width: 100%;
    padding-left: 0;
  }
  .chapterImage { width: 100%; }
}
